<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clover.p5.guest.mapper.GuestMapper">
	
	<!-- postPage에 뿌려줄 host관련 정보(사진은 따로) -->
	<select id="selectHost" parameterType="String" resultType="HostInfoDTO">

		SELECT 
		    m.last_name, m.first_name, rt.name AS rt_name, ht.name AS ht_name, h.* 
		FROM 
			host h
				INNER JOIN 
		        member m
		        ON h.member_id = m.id
		        
		        INNER JOIN 
		        room_type rt
		        ON h.room_type_id = rt.id
		        
		        INNER JOIN 
		        host_type ht
		        ON h.host_type_id = ht.id
		WHERE
			h.id = #{id}
	
	</select>
	
	<!-- 호스트 사진 출력 -->
	<select id="selectHostPhotoList" parameterType="String" resultType="HostPhotoDTO">
		
		SELECT
			*
		FROM
			host_photo
		WHERE
			host_id = #{hostId}
		ORDER BY
			sort_order ASC
			
		
	</select>
	
	<!-- 대표 사진 -->
	<select id="selectRepresentativePhoto" parameterType="String" resultType="HostPhotoDTO">
		
		SELECT
			*
		FROM
			host_photo
		WHERE
			host_id = #{hostId}
			AND
				sort_order = 1
			
		
	</select>
	
	
	
	<select id="selectBlocking" parameterType="String" resultType="Date">
	
		SELECT
			check_in_date
		FROM
			blocking
		WHERE
			host_id = #{hostId}
		ORDER BY
			id
	
	</select>
	
	<select id="selectHostList" parameterType="SearchHostDTO" resultType="HostInfoDTO">
		<!--
		CDATA 사용 이유!
		https://epthffh.tistory.com/entry/Mybatis-%EC%97%90%EC%84%9C-CDATA-%EC%82%AC%EC%9A%A9%ED%95%98%EA%B8%B0
		-->
			SELECT 
			    h.*, m.first_name, m.last_name
			FROM 
			    host h
			        LEFT JOIN member m
			        ON h.member_id = m.id
			WHERE
			    h.name IS NOT NULL
			AND 
			    m.id IS NOT NULL
			AND
				(h.latitude BETWEEN #{swLatitude} AND #{neLatitude})
			AND
				(h.longitude BETWEEN #{swLongitude} AND #{neLongitude})
			<if test="guestCount != -1">
			AND
				h.capacity <![CDATA[>=]]> #{guestCount}
			</if>
			<if test="sStartDate != null and sEndDate != null">
			AND 
			    h.id NOT IN(        
			        SELECT 
			            DISTINCT h.id
			        FROM 
			            host h
			                INNER JOIN 
			                blocking b 
			                ON h.id = b.host_id
			        WHERE 
			            (b.check_in_date BETWEEN TO_DATE(#{sStartDate},'YYYY.MM.DD') 
			                AND
			                    TO_DATE(#{sEndDate},'YYYY.MM.DD'))
				)
			</if>
			ORDER BY
				h.id	
				

		
	
	</select>
	
	<insert id="insertBooking" parameterType="BookingEntity">
		
		INSERT 
		INTO
			booking
		VALUES(
			SEQ_booking_id.nextval,
			#{hostId},
			#{memberId},
			TO_DATE(#{checkInDate},'YYYY.MM.DD'),
			TO_DATE(#{checkOutDate},'YYYY.MM.DD'),
			#{guestCount},
			#{payment},
			TO_DATE(#{bookingDate},'YYYY.MM.DD HH24:MI:SS'),
			NULL,
			NULL		
		)
	
	</insert>
	
	<!-- foreach문에서는 trigger로! .nextval이 안먹힌다 -->
	<!-- 예약 차단일 등록 -->
	<insert id="insertBlocking">
		<foreach collection="arrBlockingDate" item="blockingDate"
		 separator=" " open="INSERT ALL " close="SELECT * FROM DUAL">
			INTO blocking
			(	
				host_id,
				check_in_date,
				who
			)
			VALUES
			(	
				#{hostId},
				TO_DATE(#{blockingDate}, 'YYYY.MM.DD'),
				'G'
			)
		</foreach>
	</insert>
	
	<select id="selectBooking" parameterType="String" resultType="BookingEntity">
		
		SELECT
			*
		FROM
			booking
		WHERE
			member_id = #{memberId}
		ORDER BY
			check_in_date
	
	</select>

</mapper>
	