<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clover.p5.guest.mapper.GuestMapper">
	
	<!-- postPage에 뿌려줄 host관련 정보(사진은 따로) -->
	<select id="selectHost" parameterType="String" resultType="HostInfoDTO">
		<![CDATA[
			SELECT
				h.*, m.first_name,  m.last_name
			FROM
				host h, member m
			WHERE
				h.id = #{id}
			AND
				(m.id = h.member_id)	
		]]>	
	
	</select>
	
	<!-- 호스트 사진 출력 -->
	<select id="selectHostPhoto" parameterType="String" resultType="HostPhotoDTO">
		
		SELECT
			*
		FROM
			host_photo
		WHERE
			host_id = #{hostId}
		ORDER BY
			id
			
		
	</select>
	
	<select id="selectBlocking" parameterType="String" resultType="Date">
	
		SELECT
			blocking_date
		FROM
			blocking
		WHERE
			host_id = #{hostId}
		ORDER BY
			id
	
	</select>
	
	<select id="selectHostList" parameterType="SearchHostDTO" resultType="HostInfoDTO">
		<!--
		CDATA 사용 이유!
		https://epthffh.tistory.com/entry/Mybatis-%EC%97%90%EC%84%9C-CDATA-%EC%82%AC%EC%9A%A9%ED%95%98%EA%B8%B0
		-->
		
		<![CDATA[
			SELECT 
				DISTINCT h.*, m.first_name, m.last_name
			FROM 
				host h FULL OUTER JOIN blocking b ON(h.id = b.host_id), member m
			WHERE 
				(NOT b.blocking_date BETWEEN TO_DATE(#{sStartDate},'MM/DD/YYYY') 
			AND
				TO_DATE(#{sEndDate},'MM/DD/YYYY')
			OR
				b.blocking_date IS NULL)
			AND
				(h.latitude BETWEEN #{swLatitude} AND #{neLatitude})
			AND
				(h.longitude BETWEEN #{swLongitude} AND #{neLongitude})
			AND
				h.capacity >= #{capacity}
			AND
				(m.id = h.member_id)
			ORDER BY
				h.id

		]]>
	
	</select>
	
</mapper>
	