<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clover.p5.place.mapper.PlaceMapper">

	<select id="selectPlace" resultType="String">
		<![CDATA[
			SELECT
				*
			FROM
				place
				

		]]>	
	
	</select>
	
	<select id="selectPlaceList" parameterType="SearchPlaceDTO" resultType="Place">
	
		<![CDATA[
			SELECT 
				DISTINCT p.* 
			FROM 
				place p FULL OUTER JOIN blocking b ON(p.id = b.place_id)
			WHERE 
				(NOT b.blocking_date BETWEEN TO_DATE(#{sStartDate},'MM/DD/YYYY') 
				AND TO_DATE(#{sEndDate},'MM/DD/YYYY')
				OR b.blocking_date IS NULL)
				AND (p.latitude BETWEEN #{swLatitude} AND #{neLatitude})
				AND (p.longitude BETWEEN #{swLongitude} AND #{neLongitude})
				AND p.capacity >= #{capacity}
			ORDER BY
				p.id

		]]>
	
	</select>
	





</mapper>